<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
@{
    var account = "";

    if (Session["account"] == null || string.IsNullOrWhiteSpace(Session["account"].ToString()))
    {
    }
    else
    {
        account = Session["account"].ToString();
    }
}

<body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
    @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    
          


        <button class="navbar-toggler" data-toggle="collapse" data-target="#layoutNavbarSupportedContent"
                aria-controls="layoutNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="layoutNavbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("首頁", "Index", "Account", new { @class = "nav-link" })</li>
            </ul>
            <partial name="_LoginPartial" />
        </div>

        <div class="account" style="width:100px;">
            <ul class="navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle h6" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" style="color:white;" data-target="#drop">
                        @account
                    </a>
                    <div id="drop" class="dropdown-menu" style="min-width:0rem;">
                        <a class="dropdown-item" href="@Url.Action("Login", "Account")">LogOff</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>*@
    <div class="container body-content">
        @RenderBody()
    </div>
</body>


@*<body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
    <div class="site-section">
        <div class="container gallery-container">

        </div>
    </div>
</body>*@
</html>
